﻿body {
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: auto;
}

.header {
    height: 10vh;
    max-height: 10vh;
    width: 100%;
    background-color: #0066A4;
    float: left;
    display: inline-block;
}

.headerimgdiv {
    height: 100%;
    width: 20%;
    float: left;
    display: flex;
    align-items: center;
}

.headertitlediv {
    height: 100%;
    width: 80%;
    float: left;
    display: flex;
    align-items: center;
    padding-left: 20%;
    font-size: 28px;
    color: #ffffff;
    font-weight: bold;
}

.left {
    width: 20%;
    float: left;
    display: inline-block;
    background-color: #e6e6e6;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 2px 2px 20px -5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000, 2px 2px 20px -5px rgba(0,0,0,0);
    min-height: 90vh;
    max-height: 90vh;
    overflow: auto;
}

.right {
    min-height: 90vh;
    max-height: 90vh;
    width: 80%;
    float: left;
    display: inline-block;
    overflow: auto;
}



.tabledataartigos {
    width: 100%;
    height: 80vh;
    overflow: auto;
    cursor: pointer;
    margin-top: 2%;
}

.selectfilters {
    height: 4vh;
    width: 95%;
    font-size: 13px;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
    background: #cccccc;
    border: 1px solid #cccccc;
    padding-bottom: 2%;
    padding-left: 2%;
}

.artigos-info {
    width: 100%;
    padding-right: 2%;
    padding-left: 6%;
    padding-top: 2.5%;
    float: left;
    display: inline-block;
    font-size: 12px;
}

.selectform {
    height: 4vh;
    width: 40%;
    font-size: 13px;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
    background: #D3D3D3;
    border: 1px solid #D3D3D3;
}

.label-info-artigos {
    float: left;
    display: inline-block;
    height: 10vh;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.label-error {
    color: #ff0000;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.label-sucess {
    color: #339933;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.labeldivinfo {
    font-weight: bold;
    font-size: 12px;
    overflow: auto;
    padding-top: 2%;
    padding-bottom: 1%;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
}

.ordenarlabeldiv {
    width: 40%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.divordenar {
    height: 8vh;
    width: 100%;
}

.ordenarselectdiv {
    width: 60%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
