﻿@model AcordoDeCompra.Models.AcordoDeCompraModel

@{
    ViewBag.Title = "Finalizar Acordo de Compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="header" class="header">
    <div id="headerimagediv" class="headerimgdiv">
        <img src="~/Images/logo.png" height="50" width="150">
    </div>

    <div id="headertitlediv" class="headertitlediv">
        Finalizar Acordo de Compra
    </div>
</div>

<div class="left">
    <form>
        <div id="ordenar" class="divordenar">
            <div id="ordernarlabel" class="ordenarlabeldiv">
                Ordernar por:
            </div>
            <div id="ordernarselect" class="ordenarselectdiv">
                <select class="selectfilters" id="sortby" name="sortby" onchange="this.form.submit();">
                    <option value="Cotacao">Cotação</option>
                    <option value="Artigo">Artigo</option>
                    <option value="Fornecedor">Fornecedor</option>
                </select>
            </div>
        </div>
    </form>

    <div id="tabledata" class="tabledataartigos">
        <table id="tableartigos" class="table table-sm" style="font-size:12px;">
            <thead>
                <tr>
                    <th scope="col" class="table-title">Artigo</th>
                    <th scope="col" class="table-title">CotacaoID</th>
                    <th scope="col" class="table-title">Fornecedor</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.artigos) {
                    if (item.EscalaoPrincipal == false) {
                        continue;
                    }
                    <tr onclick="UpdateData('@item.Artigo', '@item.CotacaoID')">
                        <td class="table-td-artigos" id="@item.Artigo">
                            @item.Artigo
                        </td>
                        <td class="table-td-artigos">
                            @item.CotacaoID
                        </td>
                        <td class="table-td-artigos">
                            @item.NumFornecedor
                        </td>
                        <td class="table-td-artigos" hidden>
                            @item.Quantidade
                        </td>
                        <td class="table-td-artigos" hidden>
                            @item.ValidFrom
                        </td>
                        <td class="table-td-artigos" hidden>
                            @item.MetodoRecepcao
                        </td>
                        <td class="table-td-artigos" hidden>
                            @item.Embalamento
                        </td>
                        <td class="table-td-artigos" hidden>
                            @item.NivelCQ
                        </td>
                        <td class="table-td-artigos" hidden>
                            @item.PrecoCompra
                        <td class="table-td-artigos" hidden>
                            @item.Estado
                        </td>
                        <td class="table-td-artigos" hidden>
                            @item.ProcessoServico
                        </td>
                        <td class="table-td-artigos" hidden>
                            @item.Servico
                        </td>
                        <td class="table-td-artigos" hidden>
                            @item.PrazoAbastecimento
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="right">
    <div id="infodiv" class="label-info-artigos">
        <div class="form-check-label labeldivinfo" id="labelinfo">
            <label class="label-error" id="labelerror">@Model.Error</label>
            <label class="label-sucess" id="labelsuccess">@Model.Sucesso</label>
        </div>
    </div>
    @if (Model.artigos != null && Model.artigos.Count > 0) {
        <form id="formdata" action="@Url.Action("Gravar", "Home")" method="post">
            <div id="preenchercampos" class="artigos-info">
                <div class="form-group col-md-6">
                    <label for="quantidade">Tipo Código:</label>
                    <select class="selectform" id="grouptype" onchange="CheckGroupType()" name="grouptype">
                        <option value="40">Interno</option>
                        <option value="30">SubContracto</option>
                    </select>
                </div>


                <div class="form-group col-md-12">
                    @*<label for="fornecimento">Fornecimento Múltiplo:</label>
                        <select class="selectform" id="fornecimento" name="fornecimento">
                            <option value="1">1 - Single Supply</option>
                            <option value="2">2 - Multiple</option>
                            <option value="3">3 - Multiple, distr</option>
                            <option value="4">4 - Multiple, src</option>
                        </select>*@
                </div>
                <div style="display:none">
                    <input type="text" name="cotacaoid" id="cotacaoid" hidden>
                    <input type="text" name="artigo" id="artigo" hidden>
                </div>

                <div class="form-group form-group-sm col-md-4">
                    <label for="quantidade">Quantidade:</label>
                    <input type="text" class="form-control" style="font-size:14px" name="quantidade" id="quantidade" disabled>
                </div>
                <div class="form-group form-group-sm col-md-4">
                    <label for="validade">Validade Desde:</label>
                    <input type="text" class="form-control" style="font-size:14px" name="validade" id="validade" disabled>
                </div>
                <div class="form-group form-group-sm col-md-4">
                    <label for="fornecedor"> NumFornecedor:</label>
                    <input type="text" class="form-control" style="font-size:14px" name="fornecedor" id="fornecedor" disabled>
                </div>
                <div class="form-group form-group-sm col-md-4">
                    <label for="metodorecepcao"> Metodo Recepcao:</label>
                    <input type="text" class="form-control" style="font-size:14px" name="metodorecepcao" id="metodorecepcao" value="">
                </div>
                <div class="form-group form-group-sm col-md-4">
                    <label for="embalamento"> Embalamento:</label>
                    <input type="text" class="form-control" style="font-size:14px" name="embalamento" id="embalamento" value="">
                </div>
                <div class="form-group form-group-sm col-md-4">
                    <label for="nivel"> Nivel CQ:</label>
                    <input type="text" class="form-control" style="font-size:14px" name="nivel" id="nivel" value="" disabled>
                </div>
                <div class="form-group form-group-sm col-md-4">
                    <label for="preco">Preço Compra:</label>
                    <input type="text" class="form-control" style="font-size:14px" name="preco" id="preco" disabled>
                </div>
                <div class="form-group form-group-sm col-md-4">
                    <label for="estado">Estado:</label>
                    <input type="text" class="form-control" style="font-size:14px" name="estado" id="estado" value="">
                </div>
                <div class="form-group form-group-sm col-md-4">
                    <label for="servico">Serviço:</label>
                    <input type="text" class="form-control" style="font-size:14px" name="servico" id="servico" value="">
                </div>
                <div class="form-group form-group-sm col-md-4">
                    <label for="processoservico">Processo Serviço/Cód.:</label>
                    <input type="text" class="form-control" style="font-size:14px" name="processoservico" id="processoservico" value="">
                </div>
                <div class="form-group form-group-sm col-md-4">
                    <label for="processoservico">Responsável(conta M3):</label>
                    <input type="text" class="form-control" style="font-size:14px" name="responsavel" id="responsavel" value="">
                </div>
                <div class="form-group form-group-sm col-md-4">
                    <label for="armazem">Armazém:</label>
                    <input type="text" class="form-control" style="font-size:14px" name="armazem" id="armazem" value="">
                </div>
                <div class="form-group form-group-sm col-md-4">
                    <label for="newitem">Mudar nome do Artigo:</label>
                    <input type="text" class="form-control" style="font-size:14px" name="newitem" id="newitem" value="">
                </div>
                <div class="form-group form-group-sm col-md-4">
                    <label for="newitem">Milheiro:</label>
                    <input type="text" class="form-control" style="font-size:14px" name="milheiro" id="milheiro" value="0">
                </div>

                <div class="form-group form-group-sm col-md-4">
                    <label for="prazoabastecimento">Prazo Abastecimento:</label>
                    <input type="text" class="form-control" style="font-size:14px" name="prazoabastecimento" id="prazoabastecimento" disabled>
                </div>
                <div class="form-group form-group-sm col-md-12 butoes-secao-padding">
                    <button id="save" type="button" class="btn btn-success" style="font-size:14px;" onclick="Save()">Enviar artigo M3</button>
                    <button type="button" class="btn btn-danger" style="font-size:14px;" onclick="Cancel()">Cancelar Artigo</button>
                    <label for="warning" style="color:#ff0000;padding-left:3%;">ATENÇÃO: Não esquecer criar PPS044/B1</label>
                </div>
            </div>
        </form>
    }
</div>

<script type="text/javascript">
    var artigo = "";
    var cotacaoid = "";

    window.addEventListener("load", function () {
        var tabela = document.getElementById("tableartigos");
        var idartigo = tabela.rows[1].cells[0].innerHTML.toString().toLowerCase();
        var idcotacao = tabela.rows[1].cells[1].innerHTML.toString().toLowerCase();

        if (idartigo.length > 0) {
            tabela.rows[1].style.backgroundColor = "#c2c2d6";
            this.artigo = idartigo;
            this.cotacaoid = idcotacao;
            UpdateData(idartigo, idcotacao);
        }

        CheckGroupType();
        CheckSortBy();
    });

    function CheckGroupType() {
        var element = document.getElementById("grouptype");
        var groupTypeValue = element.options[element.selectedIndex].value;

        if (groupTypeValue == "40") {
            document.getElementById("servico").disabled = true;
            document.getElementById("processoservico").disabled = true;

            document.getElementById("servico").value = ""
            document.getElementById("processoservico").value = ""
        } else {
            document.getElementById("servico").disabled = false;
            document.getElementById("processoservico").disabled = false;

            var tabela = document.getElementById("tableartigos");
            for (i = 1; i < tabela.rows.length; i++) {
                tabela.rows[i].style.backgroundColor = "#FAFAFA";

                if (tabela.rows[i].cells[0].innerHTML.toString().toLowerCase().includes(artigo.toLowerCase()) &&
                    tabela.rows[i].cells[1].innerHTML.toString().toLowerCase().includes(cotacaoid.toLowerCase())) {
                    tabela.rows[i].style.backgroundColor = "#c2c2d6";
                    document.getElementById("processoservico").value = tabela.rows[i].cells[10].innerHTML.toString().trim();
                    document.getElementById("servico").value = tabela.rows[i].cells[11].innerHTML.toString().trim();
                }
            }
        }
    }

    function CheckSortBy() {
        var elementValue = '@Model.SortBy';

        var select = document.getElementById('sortby');

        for (var i = 0; i < select.options.length; i++) {
            var option = select.options[i];
            if (option.text == elementValue) {
                document.getElementById("sortby").selectedIndex = i;
            }
        }
    }

    function UpdateData(idartigo, idcotacao) {
        artigo = idartigo.toString();
        cotacaoid = idcotacao.toString();

        document.getElementById("artigo").value = artigo;
        document.getElementById("cotacaoid").value = cotacaoid;

        var tabela = document.getElementById("tableartigos");

        for (i = 1; i < tabela.rows.length; i++) {
            tabela.rows[i].style.backgroundColor = "#FAFAFA";

            if (tabela.rows[i].cells[0].innerHTML.toString().toLowerCase().includes(artigo.toLowerCase()) && tabela.rows[i].cells[1].innerHTML.toString().toLowerCase().includes(cotacaoid.toLowerCase())) {
                tabela.rows[i].style.backgroundColor = "#c2c2d6";

                document.getElementById("fornecedor").value = tabela.rows[i].cells[2].innerHTML.toString().trim();
                document.getElementById("quantidade").value = tabela.rows[i].cells[3].innerHTML.toString().trim();
                document.getElementById("validade").value = tabela.rows[i].cells[4].innerHTML.toString().trim();
                document.getElementById("metodorecepcao").value = tabela.rows[i].cells[5].innerHTML.toString().trim();
                document.getElementById("embalamento").value = tabela.rows[i].cells[6].innerHTML.toString().trim();
                document.getElementById("nivel").value = tabela.rows[i].cells[7].innerHTML.toString().trim();
                document.getElementById("preco").value = tabela.rows[i].cells[8].innerHTML.toString().trim();
                document.getElementById("estado").value = tabela.rows[i].cells[9].innerHTML.toString().trim();
                document.getElementById("prazoabastecimento").value = tabela.rows[i].cells[12].innerHTML.toString().trim();

                CheckGroupType();
            }
        }
    }

    function Cancel() {
        document.getElementById("labelsuccess").innerHTML = "";
        document.getElementById("labelerror").innerHTML = "A processar...Aguarde";
        window.location.href = '@Url.Action("Cancelar","Home")' + "?cotacaoid=" + this.cotacaoid + "&artigo=" + this.artigo
    }

    filterInt = function (value) {
        if (/^(\-|\+)?([0-9]+|Infinity)$/.test(value))
            return Number(value);
        return NaN;
    }

    function Save() {
        var embalamento = document.getElementById("embalamento").value;
        var estado = document.getElementById("estado").value;
        var responsavel = document.getElementById("responsavel").value;
        var armazem = document.getElementById("armazem").value;
        var servico = document.getElementById("servico").value;
        var processoservico = document.getElementById("processoservico").value;
        var milheiro = document.getElementById("milheiro").value;

        var element = document.getElementById("grouptype");
        var groupTypeValue = element.options[element.selectedIndex].value;

        if (embalamento.length == 0) {
            document.getElementById("labelerror").innerHTML = "Deve preencher o campo Embalamento";
            return;
        }

        if (estado.length == 0) {
            document.getElementById("labelerror").innerHTML = "Deve preencher o campo Estado";
            return;
        }

        if (responsavel.length == 0) {
            document.getElementById("labelerror").innerHTML = "Deve preencher o campo Responsável";
            return;
        }

        if (armazem.length == 0) {
            document.getElementById("labelerror").innerHTML = "Deve preencher o campo Armazém";
            return;
        }

        if (groupTypeValue == "30") {
            if (servico.length == 0) {
                document.getElementById("labelerror").innerHTML = "Deve preencher o campo Servico";
                return;
            }

            if (processoservico.length == 0) {
                document.getElementById("labelerror").innerHTML = "Deve preencher o campo Processo Servico";
                return;
            }
        }

        if (milheiro.trim() != '') {
            if (filterInt(milheiro.trim()) == NaN) {
                document.getElementById("labelerror").innerHTML = "Milheiro - Dados inválidos";
                return;
            }
        }

        document.getElementById("labelsuccess").innerHTML = "";
        document.getElementById("labelerror").innerHTML = "A enviar para o M3...Aguarde";
        document.getElementById("formdata").submit();
    }
</script>
